@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --custom-bg-clr: #9EC680;
    --custom-blue-clr: #366FDF;
    --custom-navbar-bg-clr: #9EC680;
    --custom-hover: #344e41;
    --other-custom-hover: #31572c;
    --custom-dark-green-clr: #4F7636;
    --custom-light-gray: #E5E5E5;
    --custom-dark-gray: #adb5bd;
    --custom-purple-clr: #C071CD;
    --custom-black-clr: #0b090a;
    --custom-ff: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--custom-ff);
    background-color: black;
}

.booking-form-center {
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(img/image\ 56.png);
    background-size: cover;
    background-position: center;
    padding-top: 4.7rem;
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*customizing booking form*/
/*for (Chrome, Safari, Edge, Opera) removing the arrow buttons in input type number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

/*for (Firefox) removing the arrow buttons in input type number*/
input[type=number] {
    -moz-appearance: textfield;
}

.booking-form {
    padding: 2rem 0;
    border-radius: 10px;
    width: 98%;
    max-width: 500px;
    background-color: var(--custom-bg-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-form-text-section {
    border-bottom: 1px solid black;
    padding: 0 1.125rem;
    margin-bottom: 1.2rem;
    width: 100%;
}

.custom-dropdown, .calendar-booking-btn {
    background-color: white;
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-dropdown:active, .custom-dropdown:focus, .calendar-booking-btn:active, .calendar-booking-btn:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    width: 100%;
}

.booking-form-btn-section {
    margin-top: 3rem;
    width: 89%;
    max-width: 700px;
}

.booking-form-btn {
    padding: .5rem;
    width: 100%;
    background-color: var(--custom-dark-green-clr);
    color: white;
}

.booking-form-btn:hover {
    background-color: var(--other-custom-hover);
    color: white;
}

.name-input-box, .room-guests-dropdowns, .stay-dates-input-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.name-input-box h6, .stay-dates-input-box h6{
    margin-bottom: -1rem;
}

.name-input-box input[type="text"] {
    width: 100%;
    padding: .5rem;
    border-radius: 6px;
    border: 2px solid var(--custom-bg-clr);
}

.margin-bottom-name-input-field, .stay-dates-section .left-col {
    margin-bottom: .8rem;
}

@media(min-width: 768px) {
    .booking-form-center {
        min-height: 100vh;
    }

    .name-input-boxes {
        display: flex;
        gap: 1.5rem;
    }

    .margin-bottom-name-input-field {
        margin-bottom: 0;
    }

    .room-guests-dropdowns {
        flex-direction: row;
    }

    .stay-dates-section {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .room-dropdown, .guest-dropdown, .stay-dates-section .left-col, .stay-dates-section .right-col {
        width: 50%;
    }
}

@media(min-width: 992px) {
    .booking-form-center {
        padding-top: 4.7rem;
    }
}