@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --custom-bg-clr: #9EC680;
    --custom-dark-green-clr: #4F7636;
    --custom-ff: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--custom-ff);
}

.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-page-bg-pic {
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(img/image\ 49.png);
    background-size: cover;
    background-position: center;
}

.sign-in-form {
    background-color: var(--custom-bg-clr);
    width: 90%;
    max-width: 450px;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
}

.sign-in-with-btn-section, .sign-in-btn-section {
    width: 98%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.125rem;
}

.sign-in-with-google-btn, .sign-in-with-fb-btn {
    width: 100%;
    background-color: white;
}

.in-between {
    position: relative;
    width: 98%;
    text-align: center;
}

.in-between-line-1 {
    position: absolute;
    left: 0;
    bottom: 50%;
    display: inline-block;
    height: 1px;
    background-color: black;
    width: 45%;
}

.in-between-line-2 {
    position: absolute;
    right: 0;
    bottom: 50%;
    display: inline-block;
    height: 1px;
    background-color: black;
    width: 45%;
}

.input-box, .checkbox-accept-terms-section {
    width: 98%;
    max-width: 300px;
}

.name-input-form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 48%;
    padding: .5rem;
    border: none;
    border-radius: 4px;
    margin-bottom: .5rem;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.checkbox-accept-terms-section {
    font-size: .8rem;
}

.sign-in-link {
    font-weight: 700;
    color: black;
    text-decoration: none;
}